@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



body {
font-family: 'Poppins', sans-serif;
background: radial-gradient(circle at 30% 30%, #d8b4fe, #a78bfa, #6d28d9);
height: 100vh;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
}

.container {
background: #fff;
padding: 40px;
border-radius: 20px;
box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
width: 360px;
text-align: center;
}

h1 {
color: #4c1d95;
margin-bottom: 20px;
}

label {
display: block;
margin: 10px 0 5px;
color: #444;
font-weight: 600;
}

input, select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 10px;
margin-bottom: 15px;
font-size: 15px;
}

button {
background: linear-gradient(90deg, #8b5cf6, #ec4899);
color: white;
border: none;
padding: 12px;
width: 100%;
border-radius: 10px;
font-size: 16px;
cursor: pointer;
transition: 0.3s;
}

button:hover {
transform: scale(1.05);
box-shadow: 0 0 10px rgba(236, 72, 153, 0.4);
}

.result {
margin-top: 20px;
font-weight: 600;
font-size: 18px;
color: #333;
}